extends layout.pug

block content
  if errors
    div(class='alert alert-danger' role='alert')
      p(class=) The following error(s) occurred:
      ul(class='answer-edit-error-list')
        each error in errors
          li(class='answer-edit-error')= error
  form#edit-answers-content(action=`/answers/edit/${answer.id}` method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    input(type='hidden' name='questionId' value=answer.questionId)
    div(class='edit-answer')
      label(for='title') Answer
      input(type='text' name='body' value=answer.body )
    div(class='edit-answer-btns btn')
      button(type='submit' class='btn update-answer-btn') Update Answer
      a(href='/questions/'+answer.questionId class='btn cancel-edit-btn') Cancel
