doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title J3C Group - #{title}
    link(rel='stylesheet' href='../stylesheets/styles.css')

  body
    div.nav-bar
      if locals.authenticated
        div#welcome-message Welcome #{user.firstName}!
        a(href='/' class='home-btn btn') Go Back Home
        a(href=`/users/${user.id}/${user.firstName}` class='profile-btn btn') Go To Profile
        form(action='/users/logout' method='post')
          button(class='logout-btn btn' type='submit') Logout
      else
        div(class='routes-')
        div(class='login-header')
          span
            a(href='/users/login' class='login-btn btn') Login
            a(href='/users/Signup'  class='signup-btn btn') Signup


    .main-content
      h2#layout-header #{title}
      block content
        link(rel='stylesheet' href='/stylesheets/reset.css')
