extends layout.pug

block content
        input(type='search' onkeydown='populate(this.value)' value='' class='search-bar' placeholder='Search')
        div.question-page-card
            div= question.content
            if locals.user.id == question.userId
                            td= question.User.username
                            td
                                a(href=`/questions/edit/${question.id}` role='button') Edit
                                a(href=`/questions/delete/${question.id}` role='button') Delete
        if locals.authenticated
            div
                a(href='/answers/'+question.id+'/create') Submit New Answer
        if answers && answers.length > 0
            h3 Answers
            each answer in answers
                div
                    div(class='answer-body')= answer.body
                    if locals.user.id == answer.userId
                        div
                            a(class='btn btn-primary' href=`/answers/edit/${answer.id}` role='button') Edit
                            a(class='btn btn-danger ml-2' href=`/answers/delete/${answer.id}` role='button') Delete
        else
            p: em There are no answers yet.
