extends layout.pug

block content
  if questions && questions.length > 0
    if locals.authenticated
        each question in questions
            div.question-list-card
                div.question-card-heading
                    p=question.createdAt
                    p=question.updatedAt
                    p Answers
                div.question-card-title
                    a.question-title(href=`/questions/${question.id}`)=question.title
                div.question-card-tag-and-user
                    div.question-card-tag
                    div.question-card-user
                        span.material-symbols-outlined='person'
                            a(href='/' class='user-link')=question.User.username

    if !locals.authenticated
        table
            thead
                tr
                    th(scope='col') Title
                    th(scope='col') Content
                    th(scope='col') User
            tbody
                each question in questions
                    tr
                        td= question.title
                        td= question.content
                        td= question.userId
  else
    p: em There are no questions here.