extends layout.pug

block content
    div.question-page-card
        div= question.content
        if locals.authenticated
                        td= question.User.username
                        td
                            a(href=`/questions/edit/${question.id}` role='button') Edit
                            a(href=`/questions/delete/${question.id}` role='button') Delete
    if locals.authenticated
        div
            a(href='/answers/'+question.id+'/create') Submit New Answer
    if votes
        h3 Answers
        - var voteNum = 0
        each answer in votes
            if answer.dataValues.vote == true
                - voteNum++
                if locals.authenticated
                    div
                        p= voteNum
                        a(class='btn btn-primary' href=`/answers/edit/${question.id}` role='button') Edit
                        a(class='btn btn-danger ml-2' href=`/answers/delete/${question.id}` role='button') Delete
            else
                - voteNum--
                if locals.authenticated
                    div
                        p= voteNum
                        a(class='btn btn-primary' href=`/answers/edit/${question.id}` role='button') Edit
                        a(class='btn btn-danger ml-2' href=`/answers/delete/${question.id}` role='button') Delete

    else
        p: em There are no answers yet.
