extends layout.pug

include utils.pug

block content
    div.question-page-card
        div= question.content
        div(class="question-page-card-bottom-details card-bottom-row")
            div(class="question-card-user")
                span.material-symbols-outlined='person'
                    a(href='/' class='user-link')=question.User.username
            if locals.user.id=== question.userId
                div.edit-delete-buttons
                    a(class='btn card-btn question-delete-btn' href=`/questions/delete/${question.id}` role='button') Delete
                    a(class='btn card-btn question-edit-btn' href=`/questions/edit/${question.id}` role='button') Edit

    if answers && answers.length > 0
        h3 Answers
        input(type='search' onkeydown='populate(this.value)' value='' class='search-bar' placeholder='Search')
        each answer in answers
            - let voteNum = 0
            each userVote in votes
                if userVote.dataValues.vote == true
                    - voteNum++
                else
                    - voteNum--
            div(class="answer-card" id=`answer-card-${answer.id}`)
                div(id=`${answer.id}-body`)=answer.body
                p= voteNum
                div(id=`edit-form-div-${answer.id}`)
                    form(class='hidden' id=`edit-form-${answer.id}`)
                                textarea(type="textarea" cols="70" rows="10" name="body" value=answer.body id=`${answer.id}-edit-body`)
                div(class="answer-page-card-bottom-details card-bottom-row")
                    div(class="question-card-user")
                        span.material-symbols-outlined='person'
                            a(href='/' class='user-link')=answer.User.username
                    if locals.user.id === answer.userId
                        div.edit-delete-buttons
                            button(class='btn card-btn answer-delete-btn' id=`delete-answer-${answer.id}`) Delete
                            button(class="btn card-btn answer-edit-btn" id=`edit-btn-${answer.id}`) Edit
                            button(class="btn card-btn edit-submit hidden" id=`edit-submit-${answer.id}`) Submit Edit


    else
        p: em There are no answers yet.
    if locals.authenticated
    h3 Create an Answer
    div.create-answer-form
        +validationErrorSummary(errors)
        form(action= '/answers/'+questionId+'/create' method='post' class="new-answer-div")
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type='hidden' name='questionId' value=questionId)
            +field('Answer', 'body', answer.body, 'textarea')
            div(class='submit-cancel-btns')
                button(type='submit' class='btn create-btn') Submit Answer
                a(href='/questions/' class='btn cancel-btn') Cancel
