mixin validationErrorSummary(errors)
  if errors
    div(role='alert' class='errors')
      p(class='error-title') The following error(s) occurred:
      ul(class='error-list')
        each error in errors
          li(class='error-bullet')= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text')
  div(id=`new-que-${fieldName}-div`)
    label(for=fieldName id=`new-que-${fieldName}-label`)= labelText
    input(type=fieldType id=`new-que-${fieldName}` name=fieldName value=fieldValue)
